<div class="border">
    <mat-card class="form">
       <p class="title"><B>N O K I A</B></p>
      <mat-card-subtitle class="sub">hlo</mat-card-subtitle> 
      <form name="logIn" vovalidate>
      <div class="content"> 
      <mat-form-field appearance="outline" class="email">
        <mat-label > Email </mat-label>
        <mat-icon matPrefix>account_circle</mat-icon>
        <input matInput formControlName="email" name="email" type="email" placeholder="abc@gmail.com" class="label" required/>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <br><br>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <mat-icon matPrefix>account_circle</mat-icon>
          <input matInput [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
       <p id="pass">forgot password ?</p>
     
     <button mat-raised-button color="primary">Submit</button>
     
</div>